@media (min-width: 1200px) {
  .grid-container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
  }
}

.demo-container {
  min-width: 500px;
  min-height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}